@using MVCWebSite.Enums
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change User Password";
}

<div class="text-center">

    <h1 class="display-4">Change User Password</h1>

</div>

@if (TempData["SucessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
        @TempData["SucessMessage"]
    </div>

}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
        @TempData["ErrorMessage"]
    </div>
}

<form asp-controller="ChangePassword" asp-action="Change" method="post">  

    <div class="form-group">
        <label for="currentPassword">Current Password</label>
        <input type="text" asp-for="CurrentPassword" class="form-control" placeholder="Enter current password">
        @Html.ValidationMessageFor(x => x.CurrentPassword)
    </div>

    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="text" asp-for="NewPassword" class="form-control" placeholder="Enter new password">
        @Html.ValidationMessageFor(x => x.NewPassword)
    </div>

    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="text" asp-for="ConfirmPassword" class="form-control" placeholder="Enter confirmed password">
        @Html.ValidationMessageFor(x => x.ConfirmPassword)
    </div>

    <br />

    <button type="submit" class="btn btn-primary ">Change</button>
    <a class="btn btn-secondary " asp-controller="Home" asp-action="Index">Go back</a>
</form>